<h1>My tasks</h1>

<ul >
  <% @tasks.each do |task| %>
    <li style="list-style: none;">
      <% if task.completed %>
        <i class="far fa-check-square" style="color: black;"></i>
      <% else %>
        <i class="far fa-square" style="color: black;"></i>
      <% end %>

      <%= link_to task_path(task) do%>
        <%= task.title %>
      <% end %>

      <%= link_to task_path(task), method: :delete, data: {confirm: "Are you sure you want to delete this task?"} do %>
        <i class="fas fa-trash"></i>
      <% end %>

  </li>
  <% end %>
</ul>

<br>
<p><%= link_to "Create a new task", new_task_path %></p>